/* dataTables Customize */
table.dataTable thead {
    background-color: #EAEAEA;
}

table.table-hover > tbody > tr:hover {
    background-color: #9FAFD1;
}

table.dataTable tr.even.selected td {
    background-color: #B0BED9;
}

table.dataTable tr.odd.selected td {
    background-color: #9FAFD1;
}

@media only screen and (max-width: 980px) {
    aside {
        padding-bottom: 60px;
    }
}

aside span.footer-side {
    position: absolute;
    bottom: 10px;
    display: block;
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: #c0bbb7;
}

.minified aside span.footer-side {
    display: none;
}

.loading {
    background: url(../img/loading.gif) left center no-repeat;
    padding-left: 30px !Important;
}

input.tt-hint {
    padding-left: 30px !Important;
}

.tab-content {
    padding-top: 20px
}

.help-block {
    color: #ff0000;
    font-weight: bold;
}

.SmallBox p {
    letter-spacing: 0.1px;
}

.SmallBox span {
    letter-spacing: 0.1px;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover {
    color: #555!important
}
#loading {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: fixed;
      display: block;
      opacity: 0.7;
      background-color: #fff;
      z-index: 1000;
      text-align: center;
    }

#loading-image {
  display:block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  /*width: 10%;*/
  z-index: 1000;
}
body {
    background: 0 0;
    background-image: url(/static/img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

.navbar-default .navbar-nav>li>a {
    color: #fff
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff
}

.project-context .title-page {
    font-size: 16px;
    line-height: 40px;
    color: #474544
}

.dataTable td {
    transition: opacity 1s ease 0s
}

body,
html {
    overflow-x: hidden
}

.well {
    background-color: #fff
}

#header {
    background-image: none!important;
    background-color: #57889c!important;
    box-shadow: none!important;
    border: 0!important;
    height:auto !important;
}

.container {
    height: 100%
}

.fixed-navigation nav>ul {
    height: auto
}

#header #logo-group {
    padding: 2px 5px
}

#header #logo-group #logo {
    margin: 0
}

#header #logo-group #logo img {
    height: 44px;
    width: auto;
    margin: 0
}

.project-context .title-page {
    font-weight: 400;
    color: #fff
}

#header .header-dropdown-list a.dropdown-toggle,
.project-context .label,
.project-context .project-selector {
    color: #fff
}

.project-context .label {
    text-shadow: none
}

#header #fullscreen a,
#header #hide-menu a {
    background-image: none;
    background-color: #fff;
    border: 0;
    color:#222;
}

.alert {
    border-left-width: 0
}

.btn-primary {
    background-color: #57889c!important;
    color: #fff!important;
    border: 0
}

.btn-default {
    background-color: #e6e6e6!important;
    color: #676767!important;
    border: 0
}

.alert-info,
.btn-info {
    background-color: #1956af!important;
    color: #fff!important
}

.alert-success,
.btn-success {
    background-color: #00a65a!important;
    color: #fff!important
}

.alert-warning,
.btn-warning {
    background-color: #f39c12!important;
    color: #fff!important
}

.alert-danger,
.btn-danger {
    background-color: #dd4b39!important;
    color: #fff!important
}

.btn {
    border: 0!important
}

.help-block {
    color: #f30303!important
}

nav ul li a i {
    width: 24px!important
}

@media only screen and (max-width:768px) {
    #header #fullscreen a,
    #header #hide-menu a {
        background-image: none;
        background-color: rgba(255, 255, 255, 0);
        border: 0
    }
    #hide-menu i {
        color: #fff!important
    }
}

.btn,
a:link,
button {
    -webkit-tap-highlight-color: rgba(87, 136, 156, .5)
}

.panel {
    border: 1px solid #ddd!important
}

.panel-danger {
    border-color: #dd4b39
}

.panel-success {
    border-color: #00a65a
}

.panel-info {
    /*border-color: #1956af*/
    border-color: #57889c
}

.panel-warning {
    border-color: #f39c12
}

.panel-danger>.panel-heading {
    color: #fff;
    background-color: #dd4b39;
    border-color: #dd4b39
}

.panel-success>.panel-heading {
    color: #fff;
    background-color: #00a65a;
    border-color: #00a65a
}

.panel-info>.panel-heading {
    color: #fff;
    /*background-color: #1956af;*/
    background-color: #57889c;
    border-color: #57889c
    /*border-color: #1956af*/
}

.panel-warning>.panel-heading {
    color: #fff;
    background-color: #f39c12;
    border-color: #f39c12
}


table.dataTable tr.selected td {
    background-color: #9fafd1
}

:fullscreen #fullscreen>:first-child>a {
    color: #6d6a69
}

.select2-selection__rendered {
    padding-left: 0
}

.select2-selection--single {
    height: 32px!important;
    border-radius: 0!important;
    border: 1px solid #ccc!important
}
div.toolbar::after {
    content: "\0020";
    width:100vw;
    display:block;
    clear:both;
}
div.dataTables_length select,
div.dataTables_filter input {
    display:inline;
}
div.dataTables_filter label {
    margin-bottom:0px;
}
div.dataTables_length label {
    margin-bottom:0px;
}
.dataTables_wrapper {
    overflow-x:scroll !important;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left:7px;
    padding-right:7px;
}
.dataTables_length {
    margin-left:6px;
}

.ui-autocomplete-loading {
    padding-right:10px;
    background: url("../img/loading.gif") right 10px center no-repeat !important;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.panel-body {
  margin: 0 auto !important;
}
.col-md-5 {
  padding: 0px 15px !important;
}
form.form-horizontal {
  padding: 0 !important;
}

div.col-md-6 {
  padding-right: 12px !important;
  padding-left: 15px !important;
}


.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    padding: .25rem .5rem !important;
    line-height: normal;
    font-size: 12px;
    border-radius: 0 !important;
}


  .form-control{
    font-size:10px !important;
    height: 26px;
    padding: 3px 6px;
    margin-bottom: 1px !important;
  }

  .form-control-static {
      border: 1px solid #ccc;
      padding: 6px 6px;
      height: 26px;
      background-color: #ccc;
      font-size: 10px;
      margin-bottom: 1px;
  }

  .control-label{
    font-size:10px !important;
    padding: 3px 6px!important;
    margin-top: 1px !important;
    margin-bottom: 1px !important;
  }

  .help-block{
    font-size:10px !important;
    padding: 1px 1px !important;
  }
  .input-group-addon {
    padding: 3px 3px  !important;
    font-size: 10px !important;
  }
  .input-group-addon:first-child {
    padding: 3px 3px  !important;
    font-size: 10px !important;
  }

 .input-group {
    padding: 3px 3px 7px !important;
    font-size: 10px !important;
  }

  .form-group {
    text-align: left;
    margin-top:5px !important;
    margin-bottom:5px !important;

  }

  .dataTables_filter .input-group-addon{
      width: 32px !important;
      margin-top: 0 !important;
      float: left !important;
      height: 26px !important;
      padding-top: 4px !important;
  }
  .fc-border-separate thead tr, .table thead tr {
    font-size:10px !important;
  }
  .twitter-typeahead{
      font-size: 10px !important;
      margin-bottom: 0;
      width: 100%;
      height: 26px;
      position: absolute;
      top: 0;
      left: 0;
      z-index:2;
  }

  .twitter-typeahead .tt-query, .twitter-typeahead .tt-hint {
      font-size: 10px !important;
      margin-bottom: 0;
      width: 100%;
      height: 26px;
      position: absolute;
      top: 0;
      left: 0;
      z-index:2;
  }
  .table-responsive {

    overflow-x: hidden !important;
  }
  .dataTables_wrapper {

    overflow-x: hidden !important;

  }
  .dataTables_filter{
    margin-left: -8px !important;

  }

  .table tbody tr td {
    font-size: 10px;
  }
  .span-new {

    border-left: 0;
    margin: -5px;
    border: -12px;
    padding: 7px !important;

  }
  .form-horizontal .checkbox, .form-horizontal .radio,  .form-horizontal .radio-inline{
    padding: 0px;
  }

  .checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 3px;
    margin-bottom: 3px;
}

  .form-tutup {
    margin-left: 5px;
  }
  .footer-me {
    padding-top: -16px;
    margin-top: 4px;
  }
  .alert-success {
    margin-bottom: 5px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .alert-danger {
    margin-bottom: 5px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .twitter-typeahead .tt-query, .twitter-typeahead .tt-hint {
    font-size: 10px !important;
  }
  .disabled {
      color:
      #000;
  }


.checkbox label, .radio label, .radio-inline  {
	font-size: 10px !important;
}

input[type="checkbox"], input[type="radio"] {
    margin-top: 1px !important;
}

.list-group, .list-group-item {
    font-size: 10px !important;
    padding: 6px 15px !important;
}
